html{
    width: 100vw;
    height: 100vh;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #6e2525; */
    width: 100vw;
    color: white;
}
.login-content{
    width: 350px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(210, 236, 236);
}
.heading{
    background-color: aqua;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 28px;
    color: black;
    font-weight: bold;
}
.card{
   color: black;
   margin-top: 20px;
   display: flex;
   /* justify-content: space-evenly; */
}
.box{
    flex:1;
    border: 2px solid black;
    text-align: center;
    /* border-bottom: none; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.doctor-card{
    border-right: none;

}
.patient-card{
    border-right: none;
}