#checkbox {
    height: 16px;
    width: 15px;
}
.hack2{
    margin: 0;
}
#move {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    left: 2px;
    top: -24px;
}

.email-input {
    font-size: 16px;
    padding: 8px;
    width: 100%;
}

.email-input:focus ~ .email-label,
.email-label.active {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    left: 2px;
    top: -19px;
    content: 1;
}

.forget {
    text-align: center;
}

.forget a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.form-layout {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

input[type="email"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: gray;
    font-size: 16px;
}

input[type="password"] {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input:hover {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

label {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.hack3{
    height: 242px;
}
.patient-form-container {
    border-radius: 8px;
    max-width: 400px;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.p-float-label label {
    top: 30%;
}

.p-icon-field-right > .p-input-icon:last-of-type {
    top: 30%;
}

.p-inputgroup-addon {
    /* min-width: 3rem; */
    min-width: 2.1rem;
}

.p-inputtext {
    border: 2px solid #666;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
}

.remember {
    align-items: center;
    display: flex;
    gap: 10px;
    /* margin-top: 15px; */
}

.password-wrapper{
    margin-top: 12px;
}