
@media (prefers-color-scheme: light) {
  :root {  
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body {
  width: 99vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
input{
  color: black !important;
}