/* src/Services.css */

.service {
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-banner {
    margin: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden; 
  }
  
  .service-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.7); 
  }
  
  .service-banner h1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  
  
  h2 {
    margin-top: 30px;
    font-size: 2rem; 
    color: #333;
  }
  
  h3 {
    font-size: 1.5rem; 
    color: #2980b9; 
  }
  
  p {
    font-size: 1rem; 
    line-height: 1.5; 
  }
  
  .services-contact ul {
    padding-left: 20px; 
  }
  
  .services-contact ul li {
    margin-bottom: 15px; 
  }
  
  
  .services-list {
    margin-top: 40px;
  }
  
  .services-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
  }
  
  .service-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .service-card:hover {
    transform: translateY(-5px); 
  }
  
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #1c6ea4;
  }
  
  
  .services-contact {
    margin-top: 40px;
    text-align: center;
  }
  
  .services-contact h2 {
    margin-bottom: 15px;
  }
  .services-container{
    padding: 36px;
  }