*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.prescription{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    gap: 20px;
}
.scroll-page{
    height: 95vh;
    width: 61vw;
    overflow-x: hidden;
}
.pres{
    height: 86.254vw;
    width: 61vw;
    overflow-y: scroll;
    color:white;
}
.pres-top{
    height: 12%;
    width: 100%;
    background-color: #510a8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pres-top-left,.pres-top-right{
    width: 30%;
    height: 100%;
    background-color: aliceblue;
}
.pres-content{
    height: 88%;
    width: 100%;
    background-color: #b38e8e;
    display: flex;
}

.pres-content-left{
    height: 100%;
    width: 30%;
    background-color: #ff0c0c;
}
.pres-content-right{
    height: 100%;
    width: 70%;
    background-color: #0c0cff;
    display: flex;
    flex-direction: column;
}
.pres-content-header{
    height: 4%;
    width: 100%;
    background-color: #21764d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 1%;
}
.pres-content-content{
    height: 90%;
    width: 100%;
    background-color: #95df0a;
    display: flex;
    flex-direction: column;
}
.pres-content-footer{
    height: 6%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.pres-content-symptom{
    height: 20%;
    width: 100%;
    background-color: #f906b8;
}
.pres-content-diagnosis{
    height: 15%;
    width: 100%;
    background-color: #0477ac;
}
.pres-content-medication{
    height: 40%;
    width: 100%;
    background-color: #260bab;
}
.pres-content-test{
    height: 25%;
    width: 100%;
    background-color: #0bab5e;
}
.pres-content-footer-left{
    height: 50%;
    width: 16%;
    background: #020313b1;
}
.pres-content-footer-right{
    height: 50%;
    width: 26%;
    background: #c3d016b1;
}
.p-toast{
    position: fixed;
    margin: auto;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    z-index: 1000;
}
.history-scroll{
    width:30vw;
    
    /* background-color: pink; */
}
.history{
    width: 100%;
    background-color: #edf2fb;
    overflow: hidden;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}